#events {
  overflow-y: hidden !important;
  height: 85vh !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-md-5{
  color: black;
  padding: 10px 30px;
  background-color:rgba(255, 255, 255, 0.5);
  margin-top: 50px;
  display: block;
  border-radius: 4px;
}

img {
  overflow-y: hidden !important;
  width: 100%;
  height: 70vh !important;
  border-radius: 4px;
  display: block !important;
  margin: auto;
}