#home {
  overflow-y: hidden !important;
}

.homeLogo {
  height: 92vh;
}

.homeLogo img,
.homeLogo button,
.homeLogo a {
  display: block;
  margin: auto;
  text-align: center;
}

.homeLogo img {
  padding: 10vh 0;
  width: 33vw;
  height: 60vh;
}

.homeLogo a {
  padding-top: 15vh;
}

a,
.join {
  background: none !important;
}

.eventEntry {
  float: left;
  box-sizing: border-box;
  width: 33.33vw;
  height: 85vh;
  padding: 12.5vh 1.4vw;
}

.eventList {
  height: 100%;
}

.eventList img {
  max-width: 100% !important;
  height: 320px !important;
  border-radius: 10px;
  border: 1px solid #333333;
  /*padding: 50px 0px !important;*/
  display: block;
  margin: auto;
}

.caption h3 {
  text-align: center;
}
