#home {
  overflow-y: hidden !important;
}

.homeLogo {
  height: 100vh;
}

.homeLogo img,
.homeLogo button,
.homeLogo a{
  display: block;
  margin: auto;
  margin-top: 55px;
  text-align: center;
}

.homeLogo img {
  width: 400px;
}

a,
.join {
  background: none !important;
}

.eventEntry {
  float: left;
  box-sizing: border-box;
  width: 33.33%;
  height: 85vh;
  padding: 80px 20px;
}

.eventList {
  height: 100vh;
}

.eventList img {
  max-width: 100% !important;
  height: 320px !important;
  border-radius: 10px;
  border: 1px solid #333333;
  /*padding: 50px 0px !important;*/
  display: block;
  margin: auto;
}
