#home {
  overflow-y: hidden !important;
}

.homeLogo {
  height: 100vh;
}

.homeLogo img,
.homeLogo button {
  display: block;
  margin: auto;
  margin-top: 100px;
}

.homeLogo img {
  width: 400px;

}

a,
.join {
  background: none !important;
}

.eventEntry {
  float: left;
  box-sizing: border-box;
  width: 33.33%;
  height: 85vh;
  padding: 80px 20px;
}

.eventList {
  height: 100vh;
}

.eventList img {
  max-width: 100% !important;
  height: 320px !important;
  border-radius: 10px;
  border: 2px solid black;
  /*padding: 50px 0px !important;*/
  display: block;
  margin: auto;
}

.carousel-caption {
  color: black;
  background-color:rgba(255, 255, 255, 0.2);
}