<div id="home" (wheel)="scroll($event)" (keydown.arrowdown)="checkKey($event)">

  <div class="homeLogo" [@slideLogo]='logoState'>
      <img [src]="'./assets/logo.png'" alt="Third">
      <button class="btn btn-default join">Join</button>
  </div>

  <div class="eventList" [@slideEventList]='eventListState'>
    <div class="eventEntry">
      <img [src]="events[0].imgSrc" alt="Third">
      <div class="caption">
        <h3>{{events[0].name}}</h3>
        <p>{{events[0].description}}</p>
      </div>
    </div>

    <div class="eventEntry">
      <img [src]="events[1].imgSrc" alt="Third">
      <div class="caption">
        <h3>{{events[1].name}}</h3>
        <p>{{events[1].description}}</p>
      </div>
    </div>

    <div class="eventEntry">
      <img [src]="events[2].imgSrc" alt="Third">
      <div class="caption">
        <h3>{{events[2].name}}</h3>
        <p>{{events[2].description}}</p>
      </div>
    </div>
  </div>

</div>